<h1>All Orders</h1>
<table class="ProductTable highlight centered responsive-table">
    <thead>
        <th>Order ID</th>
        <th>Customer name</th>
        <th>Total Products</th>
        <th>Product Names & Price</th>
        <th>Total Price</th>
        <th>Current Order Status</th>
        <th>Change Status</th>
        <th>Update Order</th>
    </thead>
    <tbody>
        {{#each order}}
        <form id='updateOrder' method="post" action="/updateOrder">
            <tr>
                <td>
                    {{this._id}}
                </td>
                <td>
                    {{this.userName}}
                </td>
                <td>
                    {{this.cart.totalQty}}
                </td>
                <td>
                    {{#each this.cart.items}}
                    <ul>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i style="font-size:12px;">{{ this.title }} | {{ this.qty }} Units</i>
                            <span class="badge badge-primary badge-pill">
                                <i style="font-size:10px;">{{ this.price }}</i>
                            </span>
                        </li>
                    </ul>
                    {{/each}}
                </td>
                <td>
                    ₹{{this.cart.totalPrice}}
                </td>

                <td>
                    {{this.status}}
                </td>
                <td>
                    <select class="browser-default" name="status" id="status">
                        <option value="" disabled selected>-- Status --</option>
                        <option value="Received">Received</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Dispatched">Dispatched</option>
                        <option value="Out for delivery">Out for delivery</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </td>
                <td>
                    <input type="hidden" name="_id" value="{{this._id}}">
                    <input type="submit" value="Update Order Status" class="btn btn-large">
                </td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>